<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642656145533-ar91dos70u7aupemj1elt12imgg8m16m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642656145533-ar91dos70u7aupemj1elt12imgg8m16m</string>
	<key>API_KEY</key>
	<string>AIzaSyA5rQUNLBA4YmhQETr1hs81FNrBRbGI4oY</string>
	<key>GCM_SENDER_ID</key>
	<string>642656145533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ledinhcuong.rikedu</string>
	<key>PROJECT_ID</key>
	<string>com-ledinhcuong-rikedu</string>
	<key>STORAGE_BUCKET</key>
	<string>com-ledinhcuong-rikedu.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642656145533:ios:6339dd7197aed1e3ae2114</string>
</dict>
</plist>